In [1]:
import pandas as pd
import re
import requests
import os

url = "http://api.clubelo.com/2018-01-01"

df = pd.read_csv(url)

df

,Rank,Club,Country,Level,Elo,From,To
0,1.0,Barcelona,ESP,1,2045.797485,2017-12-24,2018-01-07
1,2.0,Real Madrid,ESP,1,2008.680664,2017-12-24,2018-01-07
2,3.0,Man City,ENG,1,1981.203857,2018-01-01,2018-01-02
3,4.0,Juventus,ITA,1,1956.885010,2017-12-31,2018-01-06
4,5.0,Bayern,GER,1,1952.967773,2017-12-24,2018-01-12
...,...,...,...,...,...,...,...
641,NaN,Escale,AND,0,763.500854,2017-07-07,2018-06-26
642,NaN,Matecosa Sant Julia,AND,0,762.349670,2017-07-07,2018-06-26
643,NaN,Tre Penne,SMR,0,685.851746,2017-07-07,2018-06-26
644,NaN,Folgore,SMR,0,685.085388,2017-07-07,2018-06-26
645,NaN,La Fiorita,SMR,0,681.354309,2017-07-07,2018-06-26

In [2]:
df_eng_lvl1 = df[(df["Country"] == "ENG") & (df["Level"] == 1)]

df_eng_lvl1

     Rank            Club Country  Level          Elo        From          To
2     3.0        Man City     ENG      1  1981.203857  2018-01-01  2018-01-02
6     7.0         Chelsea     ENG      1  1918.829712  2017-12-31  2018-01-02
7     8.0       Tottenham     ENG      1  1916.210449  2017-12-31  2018-01-02
9    10.0      Man United     ENG      1  1900.155762  2017-12-31  2018-01-01
10   11.0       Liverpool     ENG      1  1886.246582  2017-12-31  2018-01-01
13   14.0         Arsenal     ENG      1  1844.328247  2018-01-01  2018-01-03
28   29.0       Leicester     ENG      1  1726.593750  2017-12-31  2018-01-01
40   41.0         Everton     ENG      1  1702.056396  2017-12-31  2018-01-01
41   42.0         Burnley     ENG      1  1696.473389  2017-12-31  2018-01-01
54   55.0     Southampton     ENG      1  1667.452148  2017-12-31  2018-01-02
60   61.0  Crystal Palace     ENG      1  1648.829712  2018-01-01  2018-01-02
61   62.0        West Ham     ENG      1  1647.932251  2018-01-01  2018-01-01
62   63.0     Bournemouth     ENG      1  1647.404419  2018-01-01  2018-01-01
63   64.0           Stoke     ENG      1  1641.162231  2017-12-31  2018-01-01
79   80.0       West Brom     ENG      1  1627.167236  2018-01-01  2018-01-02
80   81.0         Watford     ENG      1  1626.987671  2018-01-01  2018-01-02
84   85.0         Swansea     ENG      1  1618.334351  2017-12-31  2018-01-01
86   87.0        Brighton     ENG      1  1613.715576  2017-12-31  2018-01-01
87   88.0       Newcastle     ENG      1  1613.025513  2017-12-31  2018-01-01
121   NaN    Huddersfield     ENG      1  1564.527832  2017-12-31  2018-01-01

In [19]:
# URL
url = "http://api.clubelo.com/Huddersfield"

# CSV çek
df = pd.read_csv(url)

# Script'in çalıştığı klasörü al
base_path = os.getcwd()
output_folder = os.path.join(base_path, "data", "clubelo")

# Klasör yoksa oluştur
os.makedirs(output_folder, exist_ok=True)

# Dosya yolu
file_path = os.path.join(output_folder, "clubelo_huddersfield.csv")

# CSV olarak kaydet
df.to_csv(file_path, index=False)

print(f"Saved")

Saved

In [20]:
input_folder = os.path.join(base_path, "data", "clubelo")
output_file = os.path.join(input_folder, "clubelo.csv")

# Klasördeki tüm csv dosyalarını bul
csv_files = [f for f in os.listdir(input_folder) if f.endswith(".csv")]

dfs = []

for file in csv_files:
    file_path = os.path.join(input_folder, file)
    df = pd.read_csv(file_path)
    dfs.append(df)

# Hepsini birleştir
full_df = pd.concat(dfs, ignore_index=True)

# From kolonunu datetime yap
full_df["From"] = pd.to_datetime(full_df["From"], errors="coerce")

# 2017 ve 2018 için filtre
filtered = full_df[full_df["From"].dt.year.isin([2017, 2018])]

# Kaydet
filtered.to_csv(output_file, index=False)

print("clubelo.csv oluşturuldu.")

clubelo.csv oluşturuldu.